<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>The Lebbab Magazine</title>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "contributor" %>
    <%= stylesheet_link_tag "sidebar" %>
    <%= stylesheet_link_tag "header" %>
    <%= stylesheet_link_tag "footer" %>
    <%= stylesheet_link_tag "home" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div>
      <%= partial 'partials/header' %>
      <div class='page-column'>
        <div class='left-column'>
          <%= yield %>
        </div>
        <div class='right-column'>
          <%= partial 'partials/sidebar' %>
        </div>
      </div>
    </div>
  </body>
</html>
